@use "_variables" as *;

.button-1 {
	background-color: $color-primary;
	color: white;
	font-weight: bold;
	border: none;
	width: 60%;
	padding: 20px 20px;
	border-radius: 5px;
	text-decoration: none;
}

.button-2 {
	background-color: white;
	color: $color-primary;
	padding: 20px 40px;
	border: 2px solid $color-primary;
	border-radius: 10px;
	text-decoration: none;
}
