header {
	display: flex;
	align-items: center;

	.title {
		margin-right: auto;
	}
}

main {

	> :not(section) {
		margin-top: 70px;
	}

	.device-mockup {
		width: 70%;
	}

	.usp {
		margin-top: 90px;
		h2 {
			display: block;
		}
		div {
				margin-top: 20px;
			display: flex;
			align-items: center;
			justify-items: space-between;
			
			p {
				text-align: left;
			}
		}

		:nth-child(2n) {
			flex-direction: row-reverse;
		}

		img {
			width: 500px;
		}
	}
}
