@use "variables" as *;
@use "layout" as *;
@use "components" as *;

body {
	margin: 0;
	color: $color-primary;

	.text-xl {
		font-size: $text-size-xl;
	}

	.text-lg {
		font-size: $text-size-lg;
	}

	.text-md {
		font-size: $text-size-md;
	}

	.text-sm {
		font-size: $text-size-sm;
	}

	header {
		padding: 20px 30px;
		.logo {
			width: 8em;
		}

		.title {
			margin-top: 20px;
			margin-bottom: 20px;
			font-size: 90px;
			font-weight: bold;
			margin-left: 15px;
		}

		.login {
			font-size: 30px;
			font-weight: bold;
		}
	}

	main {
	padding: 40px 30px;
		justify-items: center;
		display: flex;
		flex-direction: column;

		* {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}

		.color-secondary {
			color: $color-secondary;
		}
	}

	footer {
		display: flex;
		height: 200px;
		justify-content: center;
		flex-direction: column;
		justify-content: space-around;
		background-color: $color-background;
		padding: 20px 0px;

		a {
			margin: 0 auto;
			display: inline-block;
			font-size: $text-size-md;
			font-weight: bold;
			color: $color-primary;
			text-decoration: none;

			:link {
				color: $color-primary;
			}

			:visited {
				color: $color-primary;
			}
		}
	}
}
